USE [master]
GO
/****** Object:  Database [JavaPlayLogin]    Script Date: 4/5/2024 12:01:10 PM ******/
CREATE DATABASE [JavaPlayLogin]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'JavaPlayLogin', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\JavaPlayLogin.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'JavaPlayLogin_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\JavaPlayLogin_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [JavaPlayLogin].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [JavaPlayLogin]
GO
/****** Object:  Table [dbo].[UserAccount]    Script Date: 4/5/2024 12:01:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserAccount](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Username] [char](50) NOT NULL,
	[Password] [char](20) NOT NULL
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[UserAccount] ON 

INSERT [dbo].[UserAccount] ([ID], [Username], [Password]) VALUES (1, N'alice                                             ', N'123                 ')
INSERT [dbo].[UserAccount] ([ID], [Username], [Password]) VALUES (2, N'lili                                              ', N'123                 ')
INSERT [dbo].[UserAccount] ([ID], [Username], [Password]) VALUES (3, N'lee                                               ', N'123                 ')
SET IDENTITY_INSERT [dbo].[UserAccount] OFF
GO
USE [master]
GO
